.show_column-1{
	width:5%
}

.show_column-2{
	width:15%
}

.show_column-3{
	width:15%
}
.show_column-4{
	width:15%
}

.show_column-5{
	width:18%
}
.show_column-6{
	width:10%
}
.col-xs-3{
	width:180px;
}